
@font-face {
  font-family: 'zh';
  src: url('zh.woff2') format('woff2');
}

@font-face {
  font-family: 'ohno';
  src: url('ohno.otf') format('opentype');
}

body, html {
  font-family: $body_grotesk;
  height: 100%;
  padding: 10px;
  opacity: 0;
  background-color: $theme_color_dark;
  font-size: $mobile_font_size;
  line-height: $mobile_line_height;
}

@media only screen and (max-width: 600px) {
  .d-mobile-none {
    display: none;
  }
}
