
.grid__image {
  width: 65vw;
}

.text__inline-img, .text__inline-imglarge{
  display: none;
}

.arealSection__title {
  font-family: $headline_serif;
  font-size: $mobile_title_size;
  line-height: $mobile_title_line_heigth;
  border-bottom: 1px solid $theme_color;
  padding-bottom: 10px;
}

.eventSection__title{
  font-size: $mobile_title_size;
  font-family: $headline_serif;
  border-bottom: 1px solid $theme_color_light;
  padding-bottom: 2px;
}
