
/* Mobile */
$mobile_background:                     #F7E560;
$mobile_title_size:                     50px;
$mobile_title_line_heigth:              45px;

$mobile_font_size:                      1.3rem;
$mobile_line_height:                    1.5rem;

/* Desktop */
$desktop_title_size:                    72px;
$desktop_title_line_heigth:             65px;

$desktop_title_size-grotesk:            68px;
$desktop_title_line_heigth-grotesk:     65px;

$desktop_font_size:                     1.3rem;
$desktop_line_height:                   1.7rem;

/* Font */
$headline_serif:                       "ohno";
$headline_grotesk:                     "zh";
$body_grotesk:                         "zh";

/* Color */

$theme_color:                            #0000ff;
$theme_color_two:                        #F7E560;
$theme_color_dark:                       #333;
$theme_color_light:                      #fff;
